.page-header,
h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-size: 40px;
    padding: 0.5em;
    margin: 1em 60px;
}

h2 {
    margin: 1em;
    padding: 15px;
    display: block;
    border: 5px;
    background-color: lavender;
}

.header-image {
    width: 100%;
    height: auto;
}

.img-subtext {
    font-style: italic;
}

a {
    display: inline-block;
    text-align: center;
    font-size: 50px;
    height: 100px;
    width: 150px;
    padding: 1em;
    margin: auto;
    border: 1px black solid;
    background-color: lavender;
    color: black;
}

.page-top {
    text-align: center;
}

.info {
    text-align: left;
    margin-left: 50px;
    display: block;
    padding: 5px;
    border: 2px solid lavender;
}